@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* max-width: 1200px; */
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-weight: 400;
}

:root {

    /* colors */
    --white-color: #EEFBF5;
    --graylight-color: #A3A6A6;
    --graydark-color: #0c0c0c;
    --dark-color: #080809;
    --primary-color: #0B696E;
    --secondary-color: #29dacf;

    --font-menu: 1.4rem;
    --font-h1: 4rem;
    --font-h2: 3rem;
    --font-h3: 2.8rem;
    --font-h4: 2rem;
    --font-h5: 1.6rem;
    --font-p: 1.4rem;
    --font-montserrat: 'Montserrat';
    --font-encode: 'Encode Sans Expanded';
    --font-poppins: 'Poppins';
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--dark-color);
    max-width: 1200px;
    color: var(--white-color);
    margin: auto;
}

section {
    min-height: 100vh;
    padding: 10rem 5rem 2rem;
}

.video {
    position: absolute;
    opacity: 0.4;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.header {
    position: fixed;
    left: 0;
    margin: auto;
    width: 100%; 
    height: 8rem;
    padding: 1rem 10rem 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    transition: background 0.3s ease-in-out;
}

.header-active {
    background: var(--graydark-color);
    box-shadow: 0 0 1rem var(--secondary-color);
}

.logo {
    width: 14rem;
}

.logo-link {
    margin-left: 2rem;
}

.navbar {
    margin-right: 2rem;
}

.navbar a {
    position: relative;
    font-size: var(--font-menu);
    font-family: var(--font-montserrat);
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 700;
    margin-left: 2rem;
    transition: .3s;
    padding: 0 1rem;
}

.navbar a:nth-child(5) {
    background: var(--secondary-color);
    color: var(--dark-color);
    border-radius: .8rem;
    padding: .3rem 2rem;
}

.navbar a::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, rgba(255,0,0,0), var(--secondary-color), rgba(255,0,0,0));
    height: 3px;
    width: 0;
    left: 0;
    bottom: -7px;
    transition: 0.4s ease;
}

.navbar a.active::after,
.navbar a:hover::after {
    width: 100%;
}

.navbar a:hover,
.navbar a.active {
    color: var(--secondary-color);
}

.navbar a:nth-child(5):hover,
.navbar a:nth-child(5).active {
    color: var(--white-color);
}

#menu-icon{
    font-size: 3.5rem;
    color: var(--secondary-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-family: var(--font-encode);
    font-size: var(--font-h3);
    font-weight: 700;
    color: var(--secondary-color);
}

.home-content h3:nth-last-of-type(2) {
    margin-bottom: 2rem;
}

.home-content span {
    font-family: var(--font-encode);
    font-size: var(--font-h3);
    font-weight: 700;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.home-content h1 {
    font-family: var(--font-encode);
    font-size: var(--font-h1);
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-family: var(--font-poppins);
    margin-top: 1.5rem;
    font-size: var(--font-h5);
    font-weight: 400;
}

.home-content img {
    max-width: 40vw;
    width: 40rem;
    animation: floatImage 5s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-animation {
    max-width: 40vw;
    width: 40rem;
    margin-left: 2rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--secondary-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--secondary-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a i {
    font-size: 2.4rem;
}

.social-media a:hover {
    background: var(--secondary-color);
    color: var(--white-color);
    box-shadow: 0 0 1rem var(--secondary-color);
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.sobre-content h2 {
    font-family: var(--font-encode);
    font-size: var(--font-h2);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.sobre-content span {
    font-family: var(--font-encode);
    font-size: var(--font-h2);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}

.line{
height: 3px;
background: linear-gradient(to right, rgba(255,0,0,0), var(--secondary-color), rgba(255,0,0,0));
border-radius: 5px;
margin-top: .5rem;
margin-bottom: 2rem;
}

.sobre-content p {
    font-family: var(--font-poppins);
    font-size: var(--font-p);
    margin-bottom: 2rem;
    text-align: justify;
    font-weight: 400;
    line-height: 1.8;
}

.sobre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 5rem;
}

.sobre-container .sobre-box {
    display: flex;
    flex-direction: column;
    flex: 1 1 30rem;
    background: linear-gradient(145deg, #0A0C10 0%, #0A0C10 70%, rgba(41,218,207,0.2));
    border: var(--primary-color) solid 0.4rem;
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
    transition: 0.3s ease;
    min-height: 40rem;
    max-height: 40rem;
}

.sobre-container .sobre-box:hover {
    border-color: var(--secondary-color);
    transform: scale(1.02);
    box-shadow: 0 0 1.5rem 0.1rem var(--secondary-color);
}

.sobre-container .sobre-box img {
    /* flex: 1; */
    width: 10rem;
}

.sobre-box h3 {
    font-family: var(--font-encode);
    flex: 1;
    font-size: var(--font-menu);
    font-weight: 500;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.sobre-box p {
    font-family: var(--font-poppins);
    flex: 2;
    font-size: var(--font-p);
    text-align: center;
    font-weight: 400;
    line-height: 1.8;
}

.sobre-box p span {
    font-family: var(--font-poppins);
    font-size: var(--font-menu);
    font-weight: 500;
    color: var(--secondary-color);
}

.servicos {
    justify-content: center;
    align-items: center;
}

.servicos h2 {
    font-family: var(--font-encode);
    font-size: var(--font-h2);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.servicos span {
    font-family: var(--font-encode);
    font-size: var(--font-h2);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}

.timeline {
    position: relative;
    margin: 10rem auto;
}

.timeline h3 {
    font-family: var(--font-encode);
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-color);
    text-align: center;
}

.timeline p {
    font-family: var(--font-poppins);
    font-size: var(--font-p);
    text-align: center;
    font-weight: 400;
    line-height: 1.8;
}

.tl-container {
    padding: 1rem 3rem;
    position: relative;
    width: 50%;
    min-height: 15rem;
    max-height: 15rem;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.tl-container:nth-child(1) {
    animation-delay: 0s;
}
.tl-container:nth-child(2) {
    animation-delay: 0.5s;
}
.tl-container:nth-child(3) {
    animation-delay: 1s;
}
.tl-container:nth-child(4) {
    animation-delay: 1.5s;
}
.tl-container:nth-child(5) {
    animation-delay: 2s;
}
.tl-container:nth-child(6) {
    animation-delay: 2.5s;
}
.tl-container:nth-child(7) {
    animation-delay: 3s;
}
.tl-container:nth-child(8) {
    animation-delay: 3.5s;
}
.tl-container:nth-child(9) {
    animation-delay: 4s;
}
.tl-container:nth-child(10) {
    animation-delay: 4.5s;
}

.tl-text-box {
    padding: 1rem 1rem;
    position: relative;
}

.left-container {
    margin: 0;
    left: 0;
}

.right-container {
    margin: 0;
    left: 50%;
}

.left-container img {
    margin: 0;
    position: absolute;
    width: 6rem;
    right: -3.2rem;
    top: 2rem;
    z-index: 10;
}

.right-container img {
    margin: 0;
    position: absolute;
    width: 6rem;
    left: -2.8rem;
    top: 2rem;
    z-index: 10;
}

.timeline::after {
    content: '';
    position: absolute;
    width: .7rem;
    height: 100%;
    background: var(--dark-color);
    box-shadow: 0 0 .5rem .3rem var(--secondary-color);
    border-radius: 1rem;
    top: 0;
    left: 50%;
    margin-left: -.5rem;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.projetos h2 {
    font-family: var(--font-encode);
    font-size: var(--font-h2);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.projetos span {
    font-family: var(--font-encode);
    font-size: var(--font-h2);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}

.projetos-container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
}

.projetos-container .projetos-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--secondary-color);
    overflow: hidden;
    display: flex;
}

.projetos-box img {
    width: 100%;
    transition: .5s ease;
}

.projetos-box:hover img {
    transform: scale(1.1);
}

.projetos-box .projetos-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .7), var(--secondary-color));
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.projetos-box:hover .projetos-layer {
    transform: translateY(0);
}

.projetos-layer h4 {
    font-family: var(--font-encode);
    font-size: var(--font-h3);
    font-weight: 500;
    margin-bottom: 0.5rem;
    /* text-shadow: .2rem .2rem .2rem var(--dark-color); */
}

.projetos-layer p {
    font-family: var(--font-poppins);
    font-size: var(--font-menu);
    font-weight: 400;
    line-height: 1.8;
}

.projetos-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
    transition: .5s ease;
}

.projetos-layer a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 .5rem var(--secondary-color);
}

.projetos-layer a i {
    font-size: var(--font-h3);
    color: var(--primary-color);
}

.faq h2 {
    font-family: var(--font-encode);
    font-size: var(--font-h2);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
}

.faq h3 {
    font-family: var(--font-encode);
    font-size: var(--font-h2);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 4rem;
}

.faq span {
    font-family: var(--font-encode);
    font-size: var(--font-h2);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 4rem;
    color: var(--secondary-color);
}

.faq .line{
    height: 3px;
    background: linear-gradient(to right, rgba(255,0,0,0), var(--secondary-color), rgba(255,0,0,0));
    border-radius: 5px;
    margin-bottom: 2rem;
    }

.faq-container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.faq-accordion-item {
    background: var(--graydark-color);
    border-radius: .7rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

.accordion-link {
    font-size: var(--font-h5);
    font-weight: 500;
    /* text-transform: uppercase; */
    line-height: 1.2;
    color: var(--secondary-color);
    text-decoration: none;
    background-color: var(--graydark-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link i {
    color: var(--secondary-color);
    padding: .5rem;
}

.accordion-link .bx-minus {
    display: none;
}

.resposta {
    max-height: 0;
    overflow: hidden;
    position: relative;
    font-size: var(--font-p);
    font-weight: 400;
    text-align: justify;
    transition: .6s ease;
}

.resposta::before {
    content: '';
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: var(--secondary-color);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.resposta p {
    font-family: var(--font-poppins);
    font-size: var(--font-p);
    padding: 1rem 2rem;
    line-height: 1.8;
}

.faq-accordion-item:target .resposta {
    max-height: 20rem;
}


.faq-accordion-item:target .accordion-link .bx-plus {
    display: none;
}

.faq-accordion-item:target .accordion-link .bx-minus {
    display: block;
}

.footer {
    position: absolute;
    left: 0;
    margin: auto;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
    background: var(--graydark-color);
}

.footer-text p {
    font-family: var(--font-poppins);
    font-size: var(--font-p);
    font-weight: 400;
    line-height: 1.8;
}

.footer-text span {
    font-family: var(--font-poppins);
    font-size: var(--font-p);
    font-weight: 500;
    color: var(--secondary-color);
    line-height: 1.8;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    background: var(--secondary-color);
    border-radius: .8rem;
    transition: .3s ease;
    border-radius: 50%;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--secondary-color);
    transform: scale(1.1);
}

.footer-iconTop a i {
    font-size: var(--font-h3);
    color: var(--graydark-color);
}

/* Breakpoints */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 5rem 5rem 2rem;
    }

    .footer {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .header i {
        margin-right: 2rem;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 2rem;
        background: var(--graydark-color);
        box-shadow: 0 .5rem 1rem var(--secondary-color);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        text-align: center;
        display: block;
        font-size: var(--font-menu);
        margin: 3rem auto;
        max-width: 9rem;
    }

    .header-menu {
        background: var(--graydark-color);
    }

    .home {
        flex-direction: column;
    }

    .home-content {
        display: flex;
        flex-direction: column;
    }

    .home-content .home-img {
        max-width: 70vw;
    }

    .home-content p {
        text-align: center;
    }

    .home-animation {
        margin: auto;
        max-width: 60vw;
    }

    .projetos-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .timeline {
        margin: 1rem;
    }
    .timeline::after {
        left: 1rem;
    }
    .tl-container {
        width: 100%;
        min-height: 25rem;
        max-height: 25rem;
    }
    .right-container {
        left: 0;
    }
    .left-container img {
        width: 5rem;
        left: -1.4rem;
    }
    
    .right-container img {
        width: 5rem;
        left:  -1.4rem;
    }
    .timeline h3 {
        margin-left: 1rem;
    }
    .timeline p {
        margin-left: 1rem;
    }
}

@media (max-width: 400px){
    .timeline p {
        margin-left: 0;
        line-height: 1.4;
    }

    .resposta p {
        padding: .5rem 0;
        padding-left: .7rem;
        line-height: 1.3;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}